.full-wide {
  width: 100%;
}
* {
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #eee4c7;
}
.top-bar {
  width: 100%;
  background-color: #31b4b1;
  height: 5px;
}
.header-intro {
  width: 100%;
  background-color: #b8e1d6;
  height: 25px;
}
.jumbotron > .container img,
.jumbotron > .container div {
  margin: 0 15px;
}
